<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.platogo.cordova.usercentrics" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>UserCentrics</name>
    <js-module name="UserCentrics" src="www/UserCentrics.js">
        <clobbers target="cordova.plugins.UserCentrics" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="UserCentrics">
                <param name="android-package" value="com.platogo.cordova.usercentrics.UserCentrics" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/UserCentrics.java" target-dir="src/com.platogo.cordova.usercentrics/UserCentrics" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="UserCentrics">
                <param name="ios-package" value="UserCentrics" />
            </feature>
        </config-file>
        <source-file src="src/ios/UserCentrics.swift" />
    </platform>
</plugin>